.App {
  text-align: center;
}

.table_index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .table_index > * {
  flex: 1 1 0;
} */
.sl{
  flex: 0.2 1 0;
}
.task{
  flex: 1 1 0;
}
.deadline{
  flex: 0.5 1 0;
}
.button-remove {
  flex: 0.5 1 0;
}